<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">

    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Email"  autocomplete="off" ngModel #emailInput="ngModel" name="email" required email>
    <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">Please enter Email</mat-error>

    <br><br><br>

    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Password"  autocomplete="off" ngModel #passwordInput="ngModel" name="password" required>
    <mat-error *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">Please enter Password</mat-error>

    <br><br><br>
    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>


